@import url(https://fonts.googleapis.com/css?family=Open+Sans);
$background: #fafafa;
$jumboColor: #dddddd;
$primaryColor: #fafafa;
$baraku: #1a1a1a;
$twoSeconds: all .2s ease-in-out;
$fourSeconds: all .4s ease-in-out;
$hoverColor: #666666;
$jumbotronSize: 54px; 
$vwJumbo: 13vw;

body {
	background: url("../images/21702939635_2e8cef2c92_k.jpg") 50% 90%;
	font-family: Open Sans, Serif;
}

div.jumbotron {
	color: $primaryColor;
	background: $jumboColor;
	box-shadow: 0px 2.1px 3px #666666;
	h1 {
		color: $primaryColor;
		transition: $twoSeconds;

		&:hover {
			color: $hoverColor;
		}
	}
}

div.jumbotron#first {
	background: url("../images/21515032920_40bbb80f16_k.jpg") 50% 90% no-repeat;
	background-size: cover;
	text-align: center;
	h1 {
		transition: $fourSeconds;
		font-size: $vwJumbo;
		&:hover {
			color: $primaryColor;
			opacity: 0.8;
			text-decoration: underline;
		}
	}

}

section#content {
	background-color: $primaryColor - #111;
	color: $baraku;
	border: 0.5px solid #666666;
	box-shadow: 0px 1.8px 3px #666666;
	padding: 20px;
	h2 {
		text-align: center;
	}
	hr {
		border-top: 1px solid $baraku;
	}
}

article.container {
	img {
		width: 12vw;
	}
	a {
		font-size: $jumbotronSize - 12px;
	}
}
div.text {
	text-align: justify;
	font-size: 20px;
	background-color: $background;
	padding: 7px;
	-webkit-box-shadow: 0 2.1px 3px #666666;
	box-shadow: 0 2.1px 3px #666666;
}

footer {
	div {
		background: $background;
		margin: 40px 0px;
	}
}
